<tr>
  <td class="goal">
    <span class="content"><%= task.content %></span>
  </td>
  <% if current_user?(task.goal.user) || current_user.name=='mandeep3' %>
  <td>
    <%= link_to "delete", task, :method => :delete,
                                :confirm => "You sure?",
                                :title => task.content %>
  </td>
  <% end %>
  <br />
</tr>