<div id="header_top_bg">
  <div id="header_top"> <a href="#"><img src="logo.png" width="90" height="38" alt="logo" class="logo" /></a>
 
    <p>Call us on 1-800-123-4567</p>
  </div>
</div>
<!--header_top_bg ends-->
<div id="demo_bg">
  <div id="demo">
    <h1>Reach your life goals effortlessly</h1>
    <p>We break your goals down into small weekly tasks for you to complete. </p>
    <a class="video"  title="Your video goes here" href="http://www.youtube.com/watch?v=GgR6dyzkKHI">CLICK HERE FOR A LIVE DEMO </a> </div>
</div>
<!--demo_bg ends-->
<div id="header">
  <div id="text">
    <h2>Welocme to Reach My Goals!</h2>
    <h4>Real help to reach your goals</h4>
    <p>Sign up and list your goals. We will break down each of your goals into smaller bite sized chunks, and set you a task to complete every week. When you've completed the task, tick if off and we'll set you the next task, until you've reached your goals</p>
    <ul>
      <li> Reach all your goals step by step </li>
      <li> Real human help in acheiving your goals </li>
      <li> We'll break your goals down into smaller chunks </li>
      <li> We'll set you a task each week, for each goal </li>
      <li> Manage multiple goals at once </li>
    </ul>
  </div>
  <!--text ends-->
  <div id="slideshow"> <a href="#" id="prev"></a> <a href="#" id="next"></a>
    <div  class="slideshow"> <img src="images/slideshow/slide_1.jpg" alt="image"/> <img src="images/slideshow/slide_2.jpg" alt="image" /> <img src="images/slideshow/slide_3.jpg" alt="image" /> </div>
  </div>
  <!--slideshow ends-->
  <div class="clear"></div>
</div>
<!--header ends-->
<div class="clear"></div>
<div id="display_bg">
  <div id="display">
    <div id="main_tagline">
      <h1>We'll break your goals into small weekly tasks, complete the tasks we set to reach your goals, with real human help.</h1>
    </div>
    <!--main_tagline ends-->
    <div class="big_action"><a href="#">Join Now @ $10/month only</a></div>
    <div class="clear"></div>
    <div class="box">
      <div class="box_inner"> <img src="images/icon1.png" width="96" height="96" alt="icon"/> <a href="#">Reach My Goals</a>
        <h5>Real life performance</h5>
        <p>Used by people<br/>
          all over the world reach their goals effectively.</p>
      </div>
    </div>
    <!--box ends-->
    <div class="box_middle">
      <div class="box_inner"> <img src="images/icon2.png" width="96" height="96" alt="icon" /> <a href="#">Bizzr tools</a>
        <h5>realtime performance</h5>
        <p>Used by people<br/>
          all over the world reach their goals effectively</p>
      </div>
    </div>
    <!--box_middle ends-->
    <div class="box_last">
      <div class="box_inner"> <img src="images/icon3.png" width="96" height="96" alt="icon" /> <a href="#">Bizzr tools</a>
        <h5>realtime performance</h5>
        <p>Used by people<br/>
          all over the world reach their goals effectively</p>
      </div>
    </div>
    <!--box_last ends-->
    <div class="clear"></div>
  </div>
</div>
<!--display_bg ends-->
<div class="clear"></div>
<div class="tab_heading">
  <ul class="tabs">
    <li class=""><a href="#about">About</a></li>
    <li class=""><a href="#testimonial">Testimonial</a></li>
    <li class=""><a href="#subscribe">Subscribe</a></li>
    <li class=""><a href="#gallery">Gallery</a></li>
  </ul>
</div>
<!--tab heading ends-->
<div id="tab_container_bg">
  <div class="tab_container">
    <div style="display: none;" id="about" class="tab_content"> <img src="images/slideshow/about_img.jpg" alt="Image" title="Image" width="280" height="150"/>
      <p class="two_col">Lorem ipsum dolor sit amet, consectetuer adipiscing 
        elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
      <p class="two_col">Lorem ipsum dolor sit amet, consectetuer adipiscing 
        elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
      <div class="clear"></div>
    </div>
    <!--tab 1 ends-->
    <div style="display: none;" id="testimonial" class="tab_content">
      <div class="section1">
        <p>&quot; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl. &quot;</p>
        <span>- John Doe, Esteemed Client</span> </div>
      <div class="section2">
        <p>&quot; Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl. &quot;</p>
        <span>- John Doe, Esteemed Client</span> </div>
      <div class="clear"></div>
    </div>
    <!--tab 2 ends-->
    <div style="display: none;" id="subscribe" class="tab_content">
      <h3>Subscribe to get notified of the next deal!</h3>
      <form action="" method="post">
        <input class="input_subscribe" type="text" value="Enter e-mail here" onblur="if (this.value == '') {this.value = 'Enter e-mail here';}" onfocus="if (this.value == 'Enter e-mail here') {this.value = '';}" />
        <input class="btn_subscribe" type="submit" value="Subscribe" />
      </form>
      <div class="clear"></div>
    </div>
    <!--tab 3 ends-->
    <div style="display: none;" id="gallery" class="tab_content">
      <ul id="tab_gallery">
        <li><a href="images/slideshow/gal_large1.jpg" class="simple_image" rel="category" title="This is title of image"><img src="images/slideshow/gal_thumb1.jpg" alt="Image 1" title="This is title of image" /><span><img src="images/zoom.png" alt="Zoom Picture" title="Zoom Picture" /></span></a> </li>
        <li> <a href="images/slideshow/gal_large2.jpg" class="simple_image" rel="category" title="This is title of image"   ><img src="images/slideshow/gal_thumb2.jpg" alt="Image 1" title="This is title of image" /><span><img src="images/zoom.png" alt="Zoom Picture" title="Zoom Picture" /></span></a> </li>
        <li> <a href="images/slideshow/gal_large3.jpg" class="simple_image" rel="category" title="This is title of image"   ><img src="images/slideshow/gal_thumb3.jpg" alt="Image 1" title="This is title of image" /><span><img src="images/zoom.png" alt="Zoom Picture" title="Zoom Picture" /></span></a> </li>
        <li class="last_image"> <a href="images/slideshow/gal_large4.jpg" class="simple_image" rel="category" title="This is title of image"   ><img src="images/slideshow/gal_thumb4.jpg" alt="Image 1" title="This is title of image" /><span><img src="images/zoom.png" alt="Zoom Picture" title="Zoom Picture" /></span></a> </li>
      </ul>
      <div class="clear"></div>
    </div>
    <!--tab 4 ends-->
    <div class="clear"></div>
  </div>
</div>
<!--tab_container-bg ends-->
<div class="clear"></div>
<div id="footer_bg">
  <div id="footer">
    <p>© copyright 2011 reachmygoals.org</p>
    <ul class="social">
      <li><a href="#" title="Twitter"><img src="images/twitter.png" width="32" height="32" alt="twitter" /></a></li>
      <li><a href="#" title="Facebook"><img src="images/facebook.png" width="32" height="32" alt="facebook" /></a></li>
      <li><a href="#" title="Flickr"><img src="images/flickr.png" width="32" height="32" alt="flickr" /></a></li>
      <li><a href="#" title="Blogger"><img src="images/blogger.png" width="32" height="32" alt="blogger" /></a></li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
<!--footer_bg ends-->
