<tr>
  <td class="goal">
    <span class="content" id="goal_content"><%= link_to goal.content, goal_path(goal.id) %></span>
  </td>
  <% if current_user?(goal.user) %>
  <td>
    <%= link_to "delete", goal, :method => :delete,
                                :confirm => "You sure?",
                                :title => goal.content  %>
  </td>
  <br />
  <% end %>
</tr>

