<% if signed_in?  %>
  <% if current_user.name == 'mandeep3' %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="goal">What's up?</h1>
        <%= render 'shared/task_form' %>
 
      </td>
    </tr>
  </table>
  <% end %>
<%= render @tasks %>

  <% if @tasks.count < 1%>
    <p>There are no tasks for this goal</p>
  <% end %>
<% else %>
  <h1>Sample App</h1>

  <p>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
